{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <br>
    {{ form(formulario) }}

{% endblock %}
